body {
    background-color: #3A4B54;
}

.left-panel {
    padding-left: 20px;
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid rgba(245, 245, 245, 0.20);
    padding-right: 20px;
}


.right-panel {
    width: 66%;
    float: left;
}

.navbar-inverse {
    background-color: #253440 !important;
    background-color: #253440 !important;
    color: white !important;

    font-size: 14pt;
    line-height: 50px;
    padding-left: 20px;
}

.main-container {
    width: 100%;
}

.bottom-container {
    height: 300px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #1A242D;
    overflow: auto;
}

#camera-overlay {
    position:absolute;
    width: 800px;
    height: 600px
}

#overlay-circle {
    opacity: 0.5;
    border: 3px solid red;
    width: 100px;
    height: 100px;
    border-radius: 50px;

    margin-left: 50px;
    margin-top:100px;
}

#camera-view {
    width: 800px;
    height:600px;
}

  video, canvas {
    margin-left: 100px;
    margin-top: 35px;
    position: absolute;
}


.list-group-item {
        padding: 3px 15px;
}


.list-group-item-dark {
            background-color: #d3d6da;
            color:black;
}
